* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5
}

h1 {
  text-align: center;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-weight: bold;
}

/*Top menu*/
.top-menu {
  overflow: hidden;
  background-color: #00EBC7;
}

.top-menu .logo img {
  float: left;
  height: auto;
  width: 220px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  padding: 10px 30px 0px 30px;
}

.top-menu .logo img:hover {
  opacity: 0.7;
}

.top-menu .menu {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Concert One', sans-serif;
  border: none;
  color: black;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  float: left;
}

#checked {
  color: white;
}

.top-menu .menu:hover {
  background-color: #009d85;
  color: white;
}

#ham {
  display: none;
}

.top-menu .icons {
  display: inline-block;
  padding: 15px 30px;
  color: black;
  font-size: 30px;
}

.top-menu .icons:hover {
  background-color: #009d85;
  color: white;
}

/*Product/Service Listing*/
.item-list {
  display: flex;
  justify-content: center;
}

.item-list ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
}

.item-list ul li {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 360px;
  max-height: 600px;
  float: left;
  margin: 0 60px 60px 0;
  list-style: none;
  background-color: #FFFFFF;
}

.item-list ul li:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.item-list .list-img {
  display: block;
  max-width: 170px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.item-list .listing h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-list .listing {
  margin-left: 30px;
  margin-right: 30px;
}

.item-list .listing p {
  font-size: 1rem;
  line-height: 25px;
  margin-bottom: 10px;
}

.item-list .price {
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
  float: left;
}

button {
  font-weight: bold;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 12px;
  color: black;
  background-color: #00EBC7;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
}

button:hover {
  background-color: #009d85;
}

button:active {
  background-color: #00214D;
  color: white;
}

/*item title*/
.item-title {
  font-size: 1.2rem;
  color: black;
}

.item-title:link {
  text-decoration: none;
}

.item-title:hover {
  color: #00EBC7;
  text-decoration: underline;
}

.item-title:active {
  color: #00214D;
  text-decoration: underline;
}

/*responsive product_listing*/
@media screen and (max-width: 1260px) {
  .item-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 840px) {
  .item-list ul {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 820px) {
  .top-menu .icons {
    display: none;
  }

  .top-menu .menu {
    display: none;
  }

  #ham {
    display: block;
    float: right;
  }
}

/*shopping-cart page*/
h5 {
  font-size: 1rem;
}

.checkout-cart {
  display: flex;
  justify-content: center;
}

.checkout-cart table {
  width: 80%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.checkout-cart .checkout-info {
  display: flex;
  flex-wrap: wrap;
}

.checkout-cart th {
  text-align: left;
  padding: 5px;
  color: white;
  font-weight: bold;
  background-color: #1B2D45;
}

.checkout-cart tr {
  border-bottom: 2px solid lightgrey;
}

.checkout-cart .checkout-item .remove {
  font-size: 0.9rem;
  color: blue;
}

.checkout-cart .checkout-item .remove:hover {
  color: red;
}

.checkout-cart .checkout-item .remove:active {
  color: #1B2D45;
}

.checkout-cart .checkout-info .checkout-imgs img {
  max-width: 80px;
  height: auto;
  margin-right: 10px;
}

/*payment part*/
.total-list, .payment {
  padding: 0 16px;
}

.final-total {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.final-total table {
  background-color: white;
  padding: 3px 18px 13px 18px;
  border: 2px solid #1B2D45;
  border-radius: 3px;
  box-shadow: 0 0 2rem 0 rgba(168, 180, 194, 0.37);
}

.final-total td {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5% 5%;
}

#total-value {
  border-top: 1px solid lightgrey;
}

@media screen and (max-width: 890px) {
  .out-title {
    font-size: 0.9rem;
  }

  .checkout-cart .checkout-item .remove {
    font-size: 0.8rem;
  }

  .payment {
    margin-bottom: 20px;
  }

  .final-total {
    flex-direction: column;
    align-items: center;
  }
}

/*payment*/
.payment {
  width: 60%;
  position: relative;
  font-size: 1rem;
  background-color: white;
  padding: 3px 18px 13px 18px;
  border: 2px solid #1B2D45;
  border-radius: 3px;
  box-shadow: 0 0 2rem 0 rgba(168, 180, 194, 0.37);
}

.payment label {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  display: block;
}

.payment input {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #1B2D45;
  border-radius: 1px;
}

#checkoutbt {
  padding-left: 10%;
  padding-right: 10%;
}

/* detailed_view page*/
.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.card-wrapper img {
  max-width: 100%;
  display: block;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  transition: all 0.5s ease;
}

.img-showcase img {
  max-width: 100%;
}

.img-select {
  display: flex;
  max-width: 95%;
}

.img-select img {
  display: flex;
  flex-wrap: wrap;
  margin: 0.3rem;
  border-style: solid;
  border-color: lightGrey;
}

.img-item {
  margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}

.product-content {
  padding: 2rem 1rem;
}

.product-title {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #1B2D45;
  margin: 1rem 0;
}

.product-rating {
  color: #ffc107;
}

.product-rating span {
  font-weight: 600;
  color: #252525;
}

.product-detail h2 {
  text-align: left;
  text-transform: capitalize;
  color: #1B2D45;
}

.product-detail p {
  font-size: 0.9rem;
  color: black;
  padding: 0.3rem;
}

.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
  padding-left: 0;
}

.product-detail ul li {
  margin: 0;
  list-style: none;
  background-size: 18px;
  padding-left: 0.5rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}

.product-detail ul li span {
  font-weight: 400;
}

.product-detail ul li i {
  color: #00EBC7;
  font-size: 1.2rem;
  padding-right: 0.3rem;
}

.select-size p, select {
  font-size: 1rem;
  display: inline-block;
  margin: 0 0;
}

.product-price {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.product-price span {
  font-weight: 500;
  color: #1B2D45;
}

.purchase-qty input {
  font-size: 1.2rem;
  width: 50%;
}

.purchase-qty span, .select-size span {
  font-weight: 700;
  font-size: 1.2rem;
  color: black;
}

.detail-btn {
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  padding: 0.45rem 1rem;
  outline: 0;
  margin-top: 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  color: black;
  background-color: #00EBC7;
  Width: 80%;
}

.detail-btn a {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  .card-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product-content {
    padding-top: 0;
  }
}

/* review section */
.review-card {
  max-width: 80%;
  margin: 0 auto;
}

.review-card h2 {
  color: White;
  font-weight: bold;
  font-size: 2rem;
  height: 3rem;
  text-transform: capitalize;
  background-color: #00EBC7
}

.review-box {
  border: 2px solid #ccc;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
}

.review-detail {
  display: flex;
  justify-content: center;
}

.review-box img {
  float: left;
  max-width: 80px;
  margin-right: 1rem;
}

.review-box i {
  font-size: 1.2rem;
  padding-right: 0.7rem;
}

.review-box span {
  font-size: 20px;
  margin-right: 15px;
  font-weight: bold;
}

@media (max-width: 590px) {
  .review-box {
    text-align: center;
  }

  .review-box img {
    margin: auto;
    float: none;
    display: block;
  }
}

/* review bar */
.rating-total {
  display: inline-flex;
  align-items: center;
}

.rating-total h3 {
  font-size: 1.5rem;
}

.rating-total .product-rating {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.row {
  max-width: 80%;
  padding-left: 20%;
}

.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  margin-top: 10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #cbcbcb;
  text-align: center;
  color: white;
}

.review-box button {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
}

.bar-2, .bar-1 {
  height: 18px;
}

.bar-5 {
  width: 60%;
  height: 18px;
  background-color: #ffc107;
}

.bar-4 {
  width: 40%;
  height: 18px;
  background-color: #ffc107;
}

.bar-3 {
  width: 10%;
  height: 18px;
  background-color: #ffc107;
}

.bar-3-product2, .bar-4-product2 {
  height: 18px;
}

.bar-5-product2 {
  width: 100%;
  height: 18px;
  background-color: #ffc107;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 690px) {
  .rating-total {
    display: block;
  }

  .side, .middle {
    width: 100%;
  }

  .right {
    display: none;
  }
}

/* popup window for writting review */
.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:white;
  z-index:2;
  text-align:center;
  padding:20px;
}


.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 350ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

#canel{
  background-color: red;
}

#canel:hover{
  background-color: #b30000;
}


/* About us */
.hero-image {
  margin-top: 1%;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/Cats.jpg);
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text  {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.35rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.aboutus-box {
  background-color: white;
  border: 2px solid #00EBC7;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.aboutus-box .aboutus-container{
  display:flex;
  align-items:center;
  flex-direction: row;
}

.aboutus-box p{
  font-size: 1.2vw;
}

.aboutus-container img{
  padding: 0 1rem 0 1rem;
  max-width: 45%;
  height: auto;
}

.aboutus-container span{
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2vw;
}

#contactus{
  display:flex;
  justify-content: center;
}

.vl {
  border-left: 0.5vw solid #00EBC7;
  border-radius: 6px;
  height: 2.5rem;
}

@media screen and (max-width: 890px){
  .aboutus-box .aboutus-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}


/* home page */
.slidershow{
  border: 3px solid #72D7DF;
  border-style: outset;
  border-radius: 5px;
  margin-top: 1%;
  width: 80%;
  max-height: 500px;
  overflow: hidden;
  margin-left: 10%;
}

.navigation{
  position: absolute;
  transform: translateX(-50%);
  display: flex;
  margin:-1.2rem;
  left: 50%;
}
.dot{
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 1rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.7s ease;
}
.dot:hover{
  background: #00EBC7;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.7s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
